@model IEnumerable<MimeKit.MimeMessage>

@{
    ViewData["Title"] = "Inbox";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Inbox</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sender)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Priority)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sender.Address)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Priority)
            </td>


            <td>
                <a asp-action="Edit" asp-route-id="@item.MessageId">View</a> 
                    <a asp-action="Archive" asp-route-id="@item.MessageId">Archive</a> |
                <a asp-action="Delete" asp-route-id="@item.MessageId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
