@using EmailApp.DataModels;
@using EmailApp.ViewModels;
@model InboxViewModel

@{
    ViewData["Title"] = "Inbox";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Inbox</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@{
    IEnumerable<EmailMessage> emailMessages = Model.EmailMessages.AsEnumerable();
}
<table class="table">
    <thead>
        <tr>
            <th>
                Date
            </th>
            <th>
                Subject
            </th>
            <th>
                From
            </th>
            <th>
                Priority
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.EmailMessages) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.From)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Priority)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.MessageId">View</a> 
                <a asp-action="Archive" asp-route-id="@item.MessageId">Archive</a> |
                <a asp-action="Delete" asp-route-id="@item.MessageId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
