@using EmailApp.ViewModels;
@model SendEmailListViewModel

@{
    ViewData["Title"] = "Sent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">

    <div class="row">
        <div class="col-md-3">
            <div class="list-group">
                <a asp-action="Compose" asp-route-id="@Model.ConfigId" class="btn btn-danger ">
                    Compose
                </a>
            </div>
            <hr />
            <div class="list-group">
                <a asp-action="Inbox" asp-controller="EmailConfigs" asp-route-id="@Model.ConfigId" asp-route-PageNumber="1" class="list-group-item list-group-item-action">
                    Inbox
                </a>
                <a asp-action="SentBox" asp-controller="SendEmails" asp-route-id="@Model.ConfigId" asp-route-PageNumber="1" class="list-group-item list-group-item-action Archived">
                    Sent
                </a>
                <a asp-action="DraftBox" asp-controller="SendEmails" asp-route-id="@Model.ConfigId" asp-route-PageNumber="1" class="list-group-item list-group-item-action ">
                    Drafts
                </a>
            </div>
        </div>
        <div class="col-md-9">

            <h3>Sent</h3>
            <hr />

            @if (Model.Emails.Count > 0)
            {
                <div class="list-group">
                    @foreach (var email in Model.Emails)
                    {
                        <div class="list-group-item">
                            <a asp-action="ViewEmail" asp-route-id="@email.Id" asp-route-PageNumber="@Model.CurrentPageNumber" class="list-group-item list-group-item-action">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">
                                        @email.Subject
                                    </h5>
                                    <small>@email.CreateOn.ToLocalTime().ToString("yyyy-mm-dd")</small>
                                </div>
                            </a>
                            <div class="btn-group position-absolute top-50" style="right:30px !important;z-index:999;" role="group">
                                <a asp-action="SetAsDeleted" asp-route-id="@email.Id" asp-route-PageNumber="@Model.CurrentPageNumber"
                                   class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteModal">
                                    <i class="fa fa-trash"></i> Delete
                                </a>
                            </div>
                        </div>
                    }
                </div>
                <nav aria-label="Email navigation">
                    <ul class="pagination justify-content-center mt-3">
                        @if (Model.CurrentPageNumber > 1)
                        {
                            <li class="page-item">
                                <a class="page-link" aria-label="Previous" asp-action="SentBox" asp-route-id="@Model.ConfigId" asp-route-pageNumber="@(Model.CurrentPageNumber-1)">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                        }
                        @for (int i = 1; i <= Model.TotalPages; i++)
                        {
                            if (i == Model.CurrentPageNumber)
                            {
                                <li class="page-item active" aria-current="page">
                                    <span class="page-link">@i</span>
                                </li>
                            }
                            else
                            {
                                <li class="page-item">
                                    <a class="page-link" asp-action="SentBox" asp-route-id="@Model.ConfigId" asp-route-pageNumber="@(i)">@i</a>
                                </li>
                            }
                        }
                        @if (Model.CurrentPageNumber < Model.TotalPages)
                        {
                            <li class="page-item">
                                <a class="page-link" asp-action="SentBox" asp-route-id="@Model.ConfigId" asp-route-pageNumber="@(Model.CurrentPageNumber+1)" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        }
                    </ul>
                </nav>
            }
            else
            {
                <p>No emails found.</p>
            }
        </div>
    </div>
</div>
